@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
* { margin: 0; padding: 0; }

.clearfix:after { display: block; visibility: hidden; clear: both; height: 0; content: ""; font-size: 0; line-height: 0; }

html, button, input, select, textarea { color: #222222; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio, canvas, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; overflow: auto; vertical-align: top; }

ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

mark { background: yellow; color: black; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

pre { white-space: pre-wrap; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

.os { font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; }

.os_b { font-family: "Open Sans", sans-serif; font-weight: 700; font-style: normal; }

.font-stacks { background-color: #e3e6e8; padding: 20px 0; }
.font-stacks article { width: 700px; margin-left: auto; margin-right: auto; background-color: white; border: 1px solid rgba(12, 13, 13, 0.2); box-shadow: 0 0 3px rgba(12, 13, 13, 0.1); border-radius: 5px; padding: 1em 20px 0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px; }
.font-stacks article h3 { font-size: 26px; color: #67747e; font-weight: bold; font-style: normal; }
.font-stacks article h4 { font-size: 22px; margin-bottom: 0.5em; font-weight: bold; font-style: normal; }
.font-stacks article pre { font-size: 18px; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; }

.icon-cat { background: url('../img/icons-sb02f844baf.png') 0 -590px no-repeat; width: 18px; height: 28px; }

.icon-people { background: url('../img/icons-sb02f844baf.png') 0 -554px no-repeat; width: 31px; height: 26px; }

.icon-cross { background: url('../img/icons-sb02f844baf.png') 0 -986px no-repeat; width: 19px; height: 19px; }

.icon-skype { background: url('../img/icons-sb02f844baf.png') 0 -681px no-repeat; width: 20px; height: 20px; }

.icon-mail { background: url('../img/icons-sb02f844baf.png') 0 -849px no-repeat; width: 24px; height: 16px; }

.icon-conteiner_bor { background: url('../img/icons-sb02f844baf.png') 0 -554px no-repeat; width: 31px; height: 26px; }

.icon-list_arr { background: url('../img/icons-sb02f844baf.png') 0 -732px no-repeat; width: 4px; height: 7px; }

.icon-question-ico { background: url('../img/icons-sb02f844baf.png') 0 -628px no-repeat; width: 22px; height: 21px; }

.i-arr_transparent { width: 0px; height: 0px; border-style: solid; border-width: 21.5px 0 21.5px 21px; border-color: transparent transparent transparent transparent; position: absolute; z-index: 666; right: -21px; top: 0; }
.i-arr_transparent:after, .i-arr_transparent:before { content: ""; position: absolute; z-index: 666; right: 0px; }
.i-arr_transparent:after { width: 0px; height: 0px; border-style: solid; border-width: 0 21px 21px 0; border-color: transparent white transparent transparent; top: -21px; }
.i-arr_transparent:before { width: 0px; height: 0px; border-style: solid; border-width: 0 0 21px 21px; border-color: transparent transparent white transparent; bottom: -21px; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { font-family: Arial, sans-serif; font-weight: normal; line-height: 1.4; font-size: 14px; }

.bar { height: 36px; line-height: 36px; background: #033a5d; color: #cfcfcf; }
.bar .bar-i { width: 950px; margin-left: auto; margin-right: auto; }
.bar .bar__phone { display: inline-block; margin-left: 355px; font-size: 25px; }
.bar .login { float: right; }
.bar .login .login__link { color: #435b6a; font-size: 16px; }
.bar .login .login__link a { color: #cfcfcf; text-decoration: none; border-bottom: 1px dashed #cfcfcf; }
.bar .login .login__link a:hover { text-decoration: none; border-color: transparent; }

.header { position: relative; background-image: -webkit-gradient(linear, 50% 0%, 50% 80, color-stop(0%, #ffffff), color-stop(100%, #cce6fc)); background-image: -webkit-linear-gradient(top, #ffffff 0%, #cce6fc 80px); background-image: -moz-linear-gradient(top, #ffffff 0%, #cce6fc 80px); background-image: -o-linear-gradient(top, #ffffff 0%, #cce6fc 80px); background-image: linear-gradient(top, #ffffff 0%, #cce6fc 80px); }
.header:after { position: absolute; bottom: -10px; left: 0; width: 100%; height: 10px; background: url("../img/header-bg.png") repeat-x; content: ""; }
.header .header-i { width: 950px; margin-left: auto; margin-right: auto; padding-bottom: 10px; }
.header .header-i:before, .header .header-i:after { content: ""; display: table; }
.header .header-i:after { clear: both; }
.header .logo { float: left; margin-top: 18px; margin-right: 70px; background: url('../img/icons-sb02f844baf.png') 0 -251px no-repeat; width: 302px; height: 121px; }
.header .logo a { display: block; height: 100%; font: 0/0 a; text-shadow: none; color: transparent; }
.header .nav { float: left; width: 380px; margin-top: 65px; }
.header .nav > ul:before, .header .nav > ul:after { content: ""; display: table; }
.header .nav > ul:after { clear: both; }
.header .nav > ul li { float: left; margin-left: 60px; font-size: 18px; color: #0c3f5f; line-height: 1; }
.header .nav > ul li:first-child { margin-left: 0; }
.header .nav > ul li span { position: relative; display: inline-block; padding-right: 15px; line-height: 1; }
.header .nav > ul li span b { font-style: normal; font-weight: normal; border-bottom: 1px dashed #0c3f5f; }
.header .nav > ul li span:hover { cursor: pointer; }
.header .nav > ul li span:hover b { border-color: transparent; }
.header .nav > ul li span:after { position: absolute; right: 0; top: 50%; margin-top: -2px; content: ""; width: 0px; height: 0px; border-style: solid; border-width: 4px 4px 0 4px; border-color: #0c3f5f transparent transparent transparent; }
.header .nav > ul li a { display: inline-block; line-height: 1; color: #0c3f5f; text-decoration: none; border-bottom: 1px solid #0c3f5f; }
.header .nav > ul li a:hover { text-decoration: none; border-color: transparent; }

.footer { padding: 35px 0; margin-top: 150px; position: relative; background: url(../img/icons/footer-bg.png) 0px 0px repeat; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }
.footer:after, .footer:before { content: ""; width: 100%; position: absolute; left: 0; right: 0; }
.footer:after { height: 12px; top: -12px; background: url(../img/icons/footer-wave.png) 0px 0px repeat; }
.footer:before { height: 11px; bottom: -11px; background: url(../img/icons/footer-wave_b.png) 0px 0px repeat; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95); opacity: 0.95; }
.footer .footer__in { width: 950px; margin-left: auto; margin-right: auto; }
.footer .footer__in:before, .footer .footer__in:after { content: ""; display: table; }
.footer .footer__in:after { clear: both; }
.footer .footer__in .menu, .footer .footer__in .menu_mod { float: left; }

.footer__copyright { margin-top: 50px; margin-bottom: 30px; padding-bottom: 45px; line-height: 1; border-bottom: 1px solid #cacaca; font-size: 16px; color: black; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.footer__copyright:before, .footer__copyright:after { content: ""; display: table; }
.footer__copyright:after { clear: both; }
.footer__copyright .footer__copyright-in { width: 950px; margin-left: auto; margin-right: auto; }
.footer__copyright .footer__copyrigh-site { float: left; }
.footer__copyright .footer__copyrigh-dev { float: right; }
.footer__copyright .footer__copyrigh-dev a { color: black; text-decoration: underline; }
.footer__copyright .footer__copyrigh-dev a:hover { text-decoration: none; }

.menu { width: 600px; }
.menu:before, .menu:after { content: ""; display: table; }
.menu:after { clear: both; }
.menu .menu__title { position: relative; color: #fefefe; text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.75); font-family: "Calibri Light", sans-serif; font-weight: normal; }
.menu .menu__title [class^="icon-"], .menu .menu__title [class*=" icon-"] { position: absolute; }
.menu .menu__title .icon-cat { top: 9px; left: -15px; }
.menu .menu__title .icon-people { left: -26px; top: 7px; }
.menu .menu__title .h3 { font-size: 30px; display: inline-block; padding-left: 15px; margin-bottom: 30px; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.menu .menu__title a { color: #fefefe; font-size: 30px; text-decoration: none; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.menu ul { width: 50%; float: left; }
.menu ul:before, .menu ul:after { content: ""; display: table; }
.menu ul:after { clear: both; }
.menu li { width: 240px; float: left; line-height: 1; padding-left: 10px; margin-bottom: 20px; }
.menu a { line-height: 1.2; font-size: 16px; color: white; text-decoration: underline; font-family: "Calibri Light", sans-serif; font-weight: normal; font-weight: 100; }
.menu a:hover { text-decoration: none; }

.menu_mod { width: 300px; margin-left: 40px; }
.menu_mod ul { width: 150px; }
.menu_mod li { width: 150px; }

.l { width: 820px; margin-left: auto; margin-right: auto; }
.l:before, .l:after { content: ""; display: table; }
.l:after { clear: both; }
.l .l-sidebar { float: left; width: 170px; margin-right: -170px; }
.l .l-main { float: left; width: 570px; margin-left: 250px; }

.nav__basket { width: 570px !important; }
.nav__basket .basket { position: relative; padding-left: 45px; }
.nav__basket .basket:before { position: absolute; top: -10px; left: 0px; content: ""; background: url('../img/icons-sb02f844baf.png') 0 -482px no-repeat; width: 35px; height: 45px; }
.nav__basket .basket:after { content: none !important; }

.wrapper { width: 950px; min-height: 640px; margin: 0 auto; margin-bottom: 10px; font-family: Calibri, sans-serif; font-weight: normal; line-height: 1.4; font-size: 14px; }
.wrapper:before, .wrapper:after { content: ""; display: table; }
.wrapper:after { clear: both; }

.l-col1 { float: left; width: 210px; }

.l-col2 { width: 700px; float: right; }

.breadcrumbs { margin: 28px 0 25px; font-weight: normal; font-size: 16px; color: #4b5053; }
.breadcrumbs a { position: relative; margin-right: 20px; color: #1d5b82; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.breadcrumbs a:hover { text-decoration: none; }
.breadcrumbs a:before { position: absolute; top: 50%; right: -17px; margin-top: -3px; content: ""; background: url('../img/icons-sb02f844baf.png') 0 -537px no-repeat; width: 10px; height: 7px; }
.breadcrumbs .breadcrumbs__span { color: #4b5053; font-size: 16px; }

.information { position: relative; margin: 12px 0 12px; padding: 10px 0 10px 29px; font-size: 20px; background: url("../img/bac1.png") repeat; }
.information:before { position: absolute; left: 0; bottom: 0; height: 5px; width: 210px; background: url("../img/bacbattom.png"); content: ""; }
.information:after { position: absolute; left: 0; top: 0; height: 5px; width: 210px; background: url("../img/bacbattom.png"); transform: rotate(180deg); content: ""; }

.authorization { position: relative; margin: 9px 0 20px 20px; }

.authorization__col { font-size: 16px; color: red; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.authorization__col_edit { border-bottom: 1px dashed red; cursor: pointer; }
.authorization__col_edit:hover { border: none; }
.authorization__col_edit:before { position: absolute; top: 6px; left: -20px; background: url('../img/icons-sb02f844baf.png') 0 -1015px no-repeat; width: 13px; height: 13px; content: ""; }

.authorization__col_change-passw { position: relative; margin-top: 10px; text-decoration: underline; display: inline-block; }
.authorization__col_change-passw:hover { text-decoration: none; }
.authorization__col_change-passw:before { position: absolute; top: 6px; left: -20px; background: url('../img/icons-sb02f844baf.png') 0 -1038px no-repeat; width: 9px; height: 13px; content: ""; }

.reference { position: relative; margin-top: 32px; font-size: 18px; color: black; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.reference:before { position: absolute; top: 3px; left: -25px; background: url('../img/icons-sb02f844baf.png') 0 -819px no-repeat; width: 20px; height: 20px; content: ""; }
.reference:after { position: absolute; top: 0; left: -17px; margin-top: 30px; width: 2px; height: 85%; background: url("../img/bor2.png"); content: ""; }

.links-i, .information__links-i { color: #4b5053; font-weight: 100; }
.links-i:hover, .information__links-i:hover { text-decoration: none; }

.order, .information__order-number { position: relative; margin-top: 10px; color: #3db1fa; font-weight: normal; cursor: pointer; display: inline-block; }
.order:before, .information__order-number:before { position: absolute; top: 50%; left: -20px; margin-top: -4px; width: 6px; height: 6px; content: ""; -webkit-box-shadow: 0 2px 1px 0 #cff6fa; -moz-box-shadow: 0 2px 1px 0 #cff6fa; box-shadow: 0 2px 1px 0 #cff6fa; -webkit-border-radius: 50%; border-radius: 50%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #7aacc9), color-stop(95%, #41b3fa)); background-image: -webkit-linear-gradient(#7aacc9 5%, #41b3fa 95%); background-image: -moz-linear-gradient(#7aacc9 5%, #41b3fa 95%); background-image: -o-linear-gradient(#7aacc9 5%, #41b3fa 95%); background-image: linear-gradient(#7aacc9 5%, #41b3fa 95%); }

.download-excel { position: relative; margin-left: 60px; display: inline-block; font-size: 12px; color: #4b5053; }
.download-excel:hover { text-decoration: none; }
.download-excel:before { position: absolute; top: 0; left: -33px; content: ""; background: url('../img/icons-sb02f844baf.png') 0 -443px no-repeat; width: 25px; height: 29px; }

.title-top { margin-bottom: 20px; }

.tops { padding-right: 9px; color: #4b5053; font-size: 18px; font-weight: 100; display: inline-block; }

.title-top__name { margin-right: 296px; }

.title-top__scrip { padding-right: 0; float: right; }

.title-col2 { font-size: 24px; color: #1d5b82; font-weight: normal; }

.title_info { color: #1d5b82; font-size: 18px; font-weight: 100; }

.info-org { margin: 0 0 19px 35px; font-size: 24px; color: #595959; }

.area, .price__goods { position: relative; margin-bottom: 1px; padding: 15px 0; min-height: 120px; }
.area:before, .price__goods:before { position: absolute; top: 0; left: 0; height: 2px; width: 100%; content: ""; background: url("../img/bor1.png"); }
.area.price__goods_bott, .price__goods.price__goods_bott { position: relative; }
.area.price__goods_bott:after, .price__goods.price__goods_bott:after { position: absolute; bottom: 0; left: 0; height: 2px; width: 100%; content: ""; background: url("../img/bor1.png"); }

.image-goods { float: left; margin: 15px 15px 15px 0; border-top: 1px solid #b9e1fb; border-bottom: 1px solid #bababa; }

.description { float: left; margin-top: 12px; width: 190px; }

.name-product { color: #1d5b82; font-size: 18px; line-height: 1; }
.name-product:hover { text-decoration: none; }

.description__quality { font-size: 15px; line-height: 1.6; color: black; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.description__quality_range { display: inline-block; width: 60px; }

.amount { float: right; margin-top: 34px; }

.amount__numeric { width: 100px; text-align: center; font-size: 15px; color: #4b5053; display: inline-block; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.amount__numeric_rig { text-align: right; font-size: 24px; font-weight: normal; }

.field { margin-bottom: 20px; width: 380px; }

.field__input:-ms-input-placeholder { color: white; opacity: 1 !important; }
.field__input:-moz-placeholder { color: white; opacity: 1 !important; }
.field__input::-moz-placeholder { color: white; opacity: 1 !important; }
.field__input::-webkit-input-placeholder { color: white; opacity: 1 !important; }
.field__input::placeholder { color: white; opacity: 1 !important; }

.field__item { position: relative; }
.field__item .field__pic { position: absolute; top: 0; right: 0; cursor: pointer; background: url('../img/icons-sb02f844baf.png') 0 -403px no-repeat; width: 30px; height: 30px; }

.field__text { font-size: 18px; color: #595959; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.text__star { color: #ff6a6a; font-family: Calibri; font-style: normal; }

.notice { color: #595959; font-size: 16px; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.notice__margin { margin-top: -15px; }

.buttom-submit { margin-top: 18px; width: 380px; }
.buttom-submit:hover { opacity: 0.9; }

.buttom-save__link { padding: 12px 144px; font-size: 22px; line-height: 43px; color: white; text-decoration: none; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.pull-right { float: right; }

.pull-left { float: left; }

.out { position: relative; }

.help-question { min-height: 34px; padding: 0 10px 0 7px; position: fixed; top: 150px; left: -93px; z-index: 1666; text-align: right; font-size: 15px; font-family: "Calibri Light", sans-serif; font-weight: normal; -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); *zoom: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0px 0px 10px 10px; -moz-border-radius: 0px 0px 10px 10px; -ms-border-radius: 0px 0px 10px 10px; -o-border-radius: 0px 0px 10px 10px; border-radius: 0px 0px 10px 10px; background-color: #03395d; -webkit-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2); box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.2); background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.15))); background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); background-image: linear-gradient(right, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%); }
.help-question span { vertical-align: middle; display: inline-block; display: inline-block; line-height: 1; font-size: 18px; color: #0b95ec; text-decoration: none; border-bottom: 1px dashed #0b95ec; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; border-color: white; border-width: 2px; color: white; }
.help-question span:hover { text-decoration: none; border-bottom: 1px dashed transparent; }
.help-question span:hover { border-color: white; border-width: 2px; }
.help-question .icon-question-ico { margin-top: 3px; margin-right: 6px; }

.zakaz .l-col1 { margin-right: 0; }

.sidebar { position: relative; background: url("../img/icons/icon-conteiner_bg.png"); padding: 20px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.sidebar:after, .sidebar:before { content: ""; position: absolute; left: 0; height: 10px; width: 210px; }
.sidebar:after { top: -10px; background: url("../img/icons/icon-conteiner_bor.png"); }
.sidebar:before { bottom: -10px; background: url("../img/icons/icon-conteiner_bor-b.png"); }

.sidebar__title { margin-bottom: 10px; line-height: 1; color: #1d5b82; font-size: 24px; font-size: 2.4rem; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }

.download-excel_mod { margin-bottom: 20px; margin-left: 0; padding-left: 35px; }
.download-excel_mod:before { left: 0; }

.list li { margin-bottom: 15px; padding: 0 12px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.list li:after { content: ""; position: absolute; top: 50%; margin-top: -2px; left: 0; background: url('../img/icons-sb02f844baf.png') 0 -732px no-repeat; width: 4px; height: 7px; }
.list a { text-decoration: underline; font-size: 16px; color: #4b5053; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.list a:hover { text-decoration: none; }
.list span { color: #0b95ec; font-size: 16px; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.list .list__more { display: inline-block; line-height: 1; font-size: 18px; color: #0b95ec; text-decoration: none; border-bottom: 1px dashed #0b95ec; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; font-size: 16px; }
.list .list__more:hover { text-decoration: none; border-bottom: 1px dashed transparent; }
.list .list__summ { margin-top: 30px; color: #4b5053; font-size: 21px; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }
.list .list__summ span { color: #4b5053; font-size: 16px; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.form__note { font-size: 18px; }
.form__note a { display: inline-block; line-height: 1; font-size: 18px; color: #0b95ec; text-decoration: none; border-bottom: 1px dashed #0b95ec; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }
.form__note a:hover { text-decoration: none; border-bottom: 1px dashed transparent; }

.form__title { margin-top: 25px; margin-bottom: 25px; position: relative; }
.form__title:after { content: ""; height: 2px; width: 100%; position: absolute; bottom: -15px; left: 0; background: url("../img/bor1.png"); }
.form__title .h3 { line-height: 1; color: #1d5b82; font-size: 24px; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }
.form__title .form__title-error { font-size: 16px; color: #e00000; font-family: "Calibri Light", sans-serif; font-weight: normal; }

.form__in { width: 380px; }

.row { margin-bottom: 15px; }
.row p { margin-bottom: 7px; line-height: 1; color: #595959; font-size: 18px; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }

.recovery-pass { float: right; display: inline-block; line-height: 1; font-size: 18px; color: #0b95ec; text-decoration: none; border-bottom: 1px dashed #0b95ec; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }
.recovery-pass:hover { text-decoration: none; border-bottom: 1px dashed transparent; }

[class^="input-"], [class*=" input-"] { width: 100%; outline: none; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
[class^="input-"]:hover, [class*=" input-"]:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }

.input-default { height: 30px; border: 1px solid #bcbcbc; padding: 2px 10px; color: black; font-size: 18px; font-family: "Calibri Light", sans-serif; font-weight: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.input-default:-moz-placeholder, .input-default::-moz-placeholder { color: black; opacity: 1; }
.input-default::-webkit-input-placeholder { color: black; }
.input-default:-ms-input-placeholder { color: white; opacity: 1; }
.input-default:-moz-placeholder { color: white; opacity: 1; }
.input-default::-moz-placeholder { color: white; opacity: 1; }
.input-default::-webkit-input-placeholder { color: white; opacity: 1; }
.input-default::placeholder { color: white; opacity: 1; }
.input-default:hover { border: 1px solid #a3a3a3; }
.input-default:focus { -webkit-box-shadow: 0 0 0 2px #519ad4; -moz-box-shadow: 0 0 0 2px #519ad4; box-shadow: 0 0 0 2px #519ad4; border: 1px solid transparent; -moz-transition: 0; -o-transition: 0; -webkit-transition: 0; -ms-transition: 0; transition: 0; }

.is-error { background: url("../img/icons/enter_bg-error2.png") 0 0 repeat; -webkit-box-shadow: inset 0 1px 0px #a50c0c; -moz-box-shadow: inset 0 1px 0px #a50c0c; box-shadow: inset 0 1px 0px #a50c0c; }
.is-error:hover, .is-error:focus { -webkit-box-shadow: inset 0 1px 0px #a50c0c; -moz-box-shadow: inset 0 1px 0px #a50c0c; box-shadow: inset 0 1px 0px #a50c0c; }
.is-error:hover { -webkit-box-shadow: inset 0 1px 1px #a50c0c; -moz-box-shadow: inset 0 1px 1px #a50c0c; box-shadow: inset 0 1px 1px #a50c0c; }
.is-error:focus { -webkit-box-shadow: inset 0 2px 1px #a50c0c; -moz-box-shadow: inset 0 2px 1px #a50c0c; box-shadow: inset 0 2px 1px #a50c0c; }
.is-error:-ms-input-placeholder { color: white; opacity: 1; }
.is-error:-moz-placeholder { color: white; opacity: 1; }
.is-error::-moz-placeholder { color: white; opacity: 1; }
.is-error::-webkit-input-placeholder { color: white; opacity: 1; }
.is-error::placeholder { color: white; opacity: 1; }

.checkbox { position: relative; display: inline-block; vertical-align: middle; cursor: pointer; font-size: 16px; }
.checkbox span { color: #595959; display: inline-block; margin-left: 6px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox input + span .checkbox__ico { content: ""; position: absolute; top: 2px; left: 0px; width: 18px; height: 18px; border: 1px solid #c8c8c8; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.checkbox input:checked + span .checkbox__ico:after { content: ""; position: absolute; top: 50%; left: 50%; margin-left: -6px; margin-top: -6px; background: url('../img/icons-sb02f844baf.png') 0 -711px no-repeat; width: 11px; height: 11px; z-index: 666; -webkit-border-radius: 3px 3px 3px 4px; border-radius: 3px 3px 3px 4px; }

[class^="btn"], [class*=" btn"] { display: inline-block; vertical-align: middle; line-height: 1; cursor: pointer; outline: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; text-decoration: none; border: none; }
[class^="btn"]:hover, [class*=" btn"]:hover { -moz-transition: 0.2s; -o-transition: 0.2s; -webkit-transition: 0.2s; -ms-transition: 0.2s; transition: 0.2s; }
[class^="btn"]:active, [class*=" btn"]:active { -webkit-transform: scale(0.97); -moz-transform: scale(0.97); -ms-transform: scale(0.97); -o-transform: scale(0.97); transform: scale(0.97); }

.btn_enter { height: 42px; line-height: 42px; display: block; text-align: center; position: relative; background: url("../img/icons/enter_bg2.png") 0 0 repeat; color: white; font-size: 22px; text-shadow: 0 -2px 0 rgba(27, 83, 128, 0.75); -webkit-box-shadow: inset 0px 1px 0 rgba(127, 193, 249, 0.75), inset 0px -1px 0 rgba(54, 134, 202, 0.52); -moz-box-shadow: inset 0px 1px 0 rgba(127, 193, 249, 0.75), inset 0px -1px 0 rgba(54, 134, 202, 0.52); box-shadow: inset 0px 1px 0 rgba(127, 193, 249, 0.75), inset 0px -1px 0 rgba(54, 134, 202, 0.52); font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }
.btn_enter:before, .btn_enter:after { content: ""; width: 3px; height: 100%; position: absolute; top: 0; }
.btn_enter:before { background: url("../img/icons/enter_left.png") 0 0 repeat-y; left: -3px; }
.btn_enter:after { background: url("../img/icons/enter_right.png") 0 0 repeat-y; right: -3px; }

.btn_mod:after { background: url("../img/icons/enter_bg2.png") 0 0 repeat; height: 42px; width: 21px; right: -21px; }

.captcha { width: 200px; height: 40px; margin-bottom: 8px; }

.popup { width: 492px; min-height: 400px; background: white; -webkit-box-shadow: 0 4px 16px 2px rgba(2, 28, 52, 0.35); -moz-box-shadow: 0 4px 16px 2px rgba(2, 28, 52, 0.35); box-shadow: 0 4px 16px 2px rgba(2, 28, 52, 0.35); position: absolute; z-index: 666; top: 220px; left: 50%; margin-left: -246px; }
.popup:after, .popup:before { content: ""; width: 100%; height: 13px; position: absolute; left: 0; }
.popup:after { top: -13px; background: url("../img/icons/popup-wave.png") -12px 0 repeat; }
.popup:before { bottom: -13px; background: url("../img/icons/popup-wave2.png") -12px 0 repeat; }
.popup .popup-i { position: relative; padding: 30px 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.popup .icon-cross { position: absolute; top: 17px; right: 30px; }

.popup__label { width: 290px; margin: 25px 0 25px; display: inline-block; text-align: left; }

.popup__title { margin-bottom: 20px; line-height: 1; color: #1d5b82; font-size: 24px; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; }

.popup__item { margin-bottom: 10px; }
.popup__item:before, .popup__item:after { content: ""; display: table; }
.popup__item:after { clear: both; }
.popup__item .ava { float: left; }
.popup__item .popup__item-contacts { width: 90px; float: left; margin-left: 20px; }
.popup__item .popup__item-fio { margin-bottom: 20px; line-height: 1; color: black; font-size: 20px; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.popup__item .popup__item-fio a { text-decoration: none; color: black; font-size: 20px; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.popup__item .popup__item-fio a:hover { text-decoration: underline; }

.ava { width: 107px; height: 107px; overflow: hidden; padding: 4px; background: #f8f7f7; -webkit-box-shadow: 1px 2px 2px rgba(1, 1, 1, 0.23); -moz-box-shadow: 1px 2px 2px rgba(1, 1, 1, 0.23); box-shadow: 1px 2px 2px rgba(1, 1, 1, 0.23); }
.ava img { min-width: 100%; }

.skype { margin-bottom: 5px; font-size: 16px; color: black; vertical-align: bottom; display: inline-block; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.skype:hover { text-decoration: none; }
.skype [class^="icon-"], .skype [class*=" icon-"] { margin-right: 15px; }

.mail { font-size: 16px; color: black; vertical-align: bottom; display: inline-block; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.mail:hover { text-decoration: none; }
.mail [class^="icon-"], .mail [class*=" icon-"] { margin-right: 11px; }

.schedule { width: 330px; margin-left: 83px; text-align: left; }
.schedule:before, .schedule:after { content: ""; display: table; }
.schedule:after { clear: both; }
.schedule .schedule__tel { margin-bottom: 15px; line-height: 1; color: black; font-size: 18px; font-family: "Calibri Light", sans-serif; font-weight: normal; }
.schedule strong { font-size: 15px; color: black; font-family: "Calibri", "Helvetica", sans-serif; font-weight: normal; font-weight: bold; }
.schedule .schedule__left { width: 135px; float: left; }
.schedule .schedule__right { width: 195px; float: left; }
.schedule .schedule__right li { font-size: 15px; font-family: "Calibri Light", sans-serif; font-weight: normal; }
