html,body
	height: 100%
html
	font-family: sans-serif
	-ms-text-size-adjust: 100%
	-webkit-text-size-adjust: 100%

body
	font:
		family: Arial, sans-serif
		weight: normal
	line-height: 1.4
	font-size: 14px

.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto