.nav__basket
	width:  570px !important
	.basket
		position: relative
		padding-left: 45px
		&:before
			position: absolute
			top: -10px
			left: 0px
			content: ""
			+s(basket)
		&:after
			content: none !important
.wrapper
	width: 950px
	min-height: 640px
	margin: 0 auto
	margin-bottom: 10px 
	font:
		family: Calibri, sans-serif
		weight: normal
	line-height: 1.4
	font-size: 14px
	+clr
.l-col1
	float: left
	width: 220px
.l-col2
	width: 700px
	float: right
.breadcrumbs
	margin: 28px 0 25px 
	font-weight: normal
	font-size: 16px
	color: #4b5053 
	a
		position: relative
		margin-right: 18px
		color: #1d5b82
		+cl
		&:hover
			text-decoration: none
		&:before
			position: absolute
			top: 50%
			right: -16px
			margin-top: -3px
			content: ""
			+s(breadpref)
	.breadcrumbs__span
		color: #4B5053 
		font-size: 16px
.information
	position: relative
	margin: 10px 0 12px
	padding: 10px 0 10px 30px 
	font-size: 20px
	background: url("../img/bac1.png") repeat
	&:before
		position: absolute
		left: 0
		bottom: 0
		height: 5px
		width: 100%
		background: url("../img/bacbattom.png")
		content: ""
	&:after
		position: absolute
		left: 0
		top: 0
		height: 5px
		width: 100%
		background: url("../img/bacbattom.png")
		transform: rotate(180deg)
		content: ""
.authorization
	position: relative
	margin: 9px 0 20px 30px
.authorization__col
	font-size: 16px
	color: #F00 
	+cl
.authorization__col_edit
	border-bottom: 1px dashed #F00 
	cursor: pointer  
	&:hover
		border: none 
	&:before
		position: absolute
		top: 6px
		left: -30px
		+s(av1)
		content: ""
.authorization__col_change-passw
	position: relative
	margin-top: 10px 
	text-decoration: underline
	display: inline-block
	&:hover
		text-decoration: none
	&:before
		position: absolute
		top: 6px
		left: -30px
		+s(av2)
		content: ""
.reference
	position: relative
	margin-top: 32px
	font-size: 18px
	color: #000  
	+cl
	&:before
		position: absolute
		top: 3px
		left: -33px
		+s(i_pic)
		content: ""
	&:after
		position: absolute
		top: 0
		left: -25px
		margin-top: 30px
		width: 2px
		height: 85%
		background: url("../img/bor2.png")
		content: ""
.links-i, .information__links-i
	color: #4b5053
	+cl
	&:hover
		text-decoration: none
.order, .information__order-number
	position: relative
	margin-top: 10px 
	color: #3DB1FA
	cursor: pointer 
	display: inline-block
	&:before
		position: absolute
		top: 50%
		left: -20px
		margin-top: -4px
		width: 6px
		height: 6px
		content: ""	
		+box-shadow(0 2px 1px 0 #cff6fa)
		+radius(50%)
		+g(#7aacc9 5%, #41b3fa 95%)
.download-excel
	position: relative
	margin-left: 60px 
	font-size: 12px
	line-height: 1.7
	color: #4b5053
	display: inline-block
	+cl
	&:hover
		text-decoration: none
	&:before
		position: absolute
		top: 0
		left: -30px
		content: ""
		+s(xls)
.table
	width: 700px 
.tops 
	padding-bottom: 18px 
	color: #4b5053 
	font-size: 18px
	line-height: 1
	+cl
.tops_right
	text-align: right
.tops_left
	text-align: left
	width: 325px
.title-col2
	font-size: 24px
	color: #1D5B82 
	font-weight: normal
.title_info
	color: #1D5B82
	font-size: 18px
	font-weight: 100  
.info-org
	margin: 0 0 19px 35px 
	font-size: 24px
	color: #595959 
.area, .price__goods
	position: relative
	margin-bottom: 1px
	padding: 15px 0 
	min-height: 120px
	&:before
		position: absolute
		top: 0
		left: 0
		height: 2px
		width: 100%
		content: ""
		background: url("../img/bor1.png")
.table-block
	position: relative
	padding: 15px 0 8px
	min-height: 92px
	width: 700px
	&:before
		content: ""
		width: 100%
		height: 2px
		position: absolute
		top: 0px
		left: 0
		background: url("../img/bor1.png")
	&:after
		position: absolute
		bottom: -2px
		left: 0
		height: 2px
		width: 100%
		content: ""
		background: url("../img/bor1.png")
.goods-image
	border-top: 1px solid #b9e1fb
	border-bottom: 1px solid #bababa
	position: absolute
	top: 15px
	left: 0 
.td_width
	width: 88px
.name-product
	padding-left: 15px
	width: 225px
	color: #1d5b82
	font-size: 18px
	vertical-align: 4px
	display: inline-block
	line-height: 1.1
	&:hover
		text-decoration: none
.description-goods
	padding-left: 15px
	font-size: 15px 
	line-height: 1.6
	color: #000 
	+cl
.description-goods_range
	display: inline-block
	width: 60px
.amount-numeric
	width: 112px
	text-align: center
	font-size: 15px 
	line-height: 5.0
	vertical-align: top 
	color: #4B5053 
	+cl
.amount-numeric_rig
	text-align: right
	font-size: 24px
	line-height: 2.8
.field
	margin-bottom: 20px
	width: 380px
 
.field__input 
	+placeholder-cont
		color: #FFF
		opacity: 1 !important
.field__item
	position: relative
	.field__pic
		position: absolute
		top: 0
		right: 0
		cursor: pointer
		+s(arrbot)
.field__text
	font-size: 18px
	color: #595959 
	+cl
.text__star
	color: #FF6A6A 
	font-family: Calibri
	font-style: normal 
		
.notice
	color: #595959 
	font-size: 16px
	+cl 
.notice__margin
	margin-top: -15px 
.buttom-submit
	margin-top: 18px
	width: 380px
	&:hover
		opacity: 0.9 
	
.buttom-save__link
	padding: 12px 144px
	font-size: 22px
	line-height: 43px 
	color: #fff
	text-decoration: none