.nav__basket
	width:  600px !important
	.basket
		position: relative
		padding-left: 45px
		&:before
			position: absolute
			top: -10px
			left: 0px
			content: ""
			+s(basket)
		&:after
			content: none !important
.wrapper
	width: 950px
	min-height: 640px
	margin: 0 auto
	font:
		family: Calibri, sans-serif
		weight: normal
	line-height: 1.4
	font-size: 14px
.l-col1
	float: left
	margin-right: 40px
	width: 210px
.l-col2
	width: 700px
	float: right
.breadcrumbs
	margin: 28px 0 25px 
	font-weight: normal
	font-size: 16px
	color: #4b5053 
	a
		position: relative
		margin-right: 20px
		color: #1d5b82
		font-weight: 100 
		&:hover
			text-decoration: none
		&:before
			position: absolute
			top: 50%
			right: -17px
			margin-top: -3px
			content: ""
			+s(breadpref)
.information
	position: relative
	margin: 12px 0 12px
	padding: 10px 0 10px 29px 
	height: 95px
	font-size: 20px
	background: url("../img/bac1.png") repeat
	&:before
		position: absolute
		left: 0
		bottom: 0
		height: 5px
		width: 210px
		background: url("../img/bacbattom.png")
		content: ""
	&:after
		position: absolute
		left: 0
		top: 0
		height: 5px
		width: 210px
		background: url("../img/bacbattom.png")
		transform: rotate(180deg)
		content: ""
.links-i, .information__links-i
	color: #4b5053
	font-weight: 100
	&:hover
		text-decoration: none
.order, .information__order-number
	position: relative
	margin-top: 10px 
	color: #3DB1FA
	font-weight: normal
	cursor: pointer 
	display: inline-block
	&:before
		position: absolute
		top: 50%
		left: -20px
		margin-top: -4px
		width: 6px
		height: 6px
		content: ""	
		+box-shadow(0 2px 1px 0 #cff6fa)
		+radius(50%)
		+g(#7aacc9 5%, #41b3fa 95%)
.download-excel
	position: relative
	margin-left: 60px 
	display: inline-block
	font-size: 12px
	color: #4b5053
	&:hover
		text-decoration: none
	&:before
		position: absolute
		top: 0
		left: -33px
		content: ""
		+s(xls)
.title-top
	margin-bottom: 20px 
.tops 
	padding-right: 10px
	color: #4b5053 
	font-size: 18px
	font-weight: 100
	display: inline-block
.title-top__name
	margin-right: 302px
.title-top__scrip
	padding-right: 0
.goods, .price__goods
	position: relative
	margin-bottom: 1px
	padding: 15px 0 
	min-height: 120px
	&:before
		position: absolute
		top: 0
		left: 0
		height: 2px
		width: 100%
		content: ""
		background: url("../img/bor1.png")
	&.price__goods_bott
		position: relative
		&:after
			position: absolute
			bottom: 0
			left: 0
			height: 2px
			width: 100%
			content: ""
			background: url("../img/bor1.png")
.image-goods
	float: left
	margin: 15px 15px 15px 0
	border-top: 1px solid #b9e1fb
	border-bottom: 1px solid #bababa  
.description
	float: left
	margin-top: 12px
	width: 190px
.name-product
	color: #1d5b82
	font-size: 18px
	line-height: 1.0 
	&:hover
		text-decoration: none
.description__quality
	font-size: 15px
	font-weight: 100 
	line-height: 1.6
	color: #000 
.description__quality_range
	display: inline-block
	width: 60px
.amount
	float: right
	margin-top: 34px
.amount__numeric
	width: 100px
	text-align: center
	font-size: 15px
	font-weight: 100 
	display: inline-block
.amount__numeric_rig
	text-align: right
	font-size: 24px
	font-weight: normal